## How to Interact with this Jupyter Notebook

In this activity, you will use a Jupyter Notebook, which integrates both text and code. The gray boxes contain executable code, which you will run in order to view its output. The text in between the code provides instructions.

## Scenario: Charting the Customer Journey with Pandas

Imagine you're a Python developer at a rapidly growing e-commerce company. The marketing team is eager to understand customer behavior and preferences to tailor their campaigns and improve the overall shopping experience. They've provided you with a valuable dataset containing information about customers, their purchases, and demographics. 

Your task is to leverage your Python skills and the power of the Pandas library to load this dataset, explore its structure, and uncover preliminary insights that will guide further analysis. This initial exploration is crucial for understanding the data you're working with and making informed decisions about how to proceed with more in-depth analysis and visualization.

In the cell below, begin by importing the `pandas` library with the alias `pd`. Then, use `.read_csv()` to load the `customer_data_50.csv` file into a DataFrame named `customer_data`. 

Lastly, run the cell.

In [1]:
# Import the pandas library with the alias 'pd'

# insert code here 
import pandas as pd

# Load the CSV file 'customer_data_50.csv' into a DataFrame

# insert code here 
customer_data = pd.read_csv('customer_data_50.csv')

Run the following cell, which will check the dimensions of your DataFrame using the `.shape` attribute. This tells you how many rows and columns your data has â€“ kind of like figuring out the size of a spreadsheet!

In [2]:
# Display the shape of the DataFrame (rows, columns)
print("\nShape of the DataFrame (rows, columns):", customer_data.shape)

Shape of the DataFrame (rows, columns): (50, 13)

Next, you'll inspect the data using the `df.head()` function, which allows you to view the first few rows of the DataFrame. This gives you a quick look at the data's structure and content.

In the cell below, use `df.head()`to display the first 5 rows of the `customer_data` DataFrame.  Then, run the cell and take a moment to observe the output.

In [3]:
# Display the first 5 rows
print("First 5 rows:\n")

# insert code here 
print(customer_data.head()) #delete this adeeb

First 5 rows:

   customer_id first_name  last_name                       email gender  age  \
0         1001     Sophia      Smith    sophia.smith@example.com      M   54
1         1002     Joseph      Smith    joseph.smith@example.com      M   66
2         1003       John   Anderson   john.anderson@example.com      F   56
3         1004       Emma  Hernandez  emma.hernandez@example.com      M   44
4         1005      Emily     Garcia    emily.garcia@example.com      F   25

          city state country  purchase_count  total_spend  avg_order_value  \
0  San Antonio    TX     USA               5          965            193.0
1  Los Angeles    CA     USA               7         1246            178.0
2      Phoenix    AZ     USA               1          199            199.0
3  Los Angeles    CA     USA              14         3752            268.0
4       Dallas    TX     USA              12         1620            135.0

           last_purchase_date
0  2023-09-12 15:28:32.140488
1  2023-08-25 15:28:32.140488
2  2024-04-28 15:28:32.140488
3  2024-01-01 15:28:32.140488
4  2023-12-09 15:28:32.140488

Now, you'll use the `df.info()` function, which provides a concise summary of the DataFrame, including the column names, their data types, and the number of non-null values.

In the cell below, use `df.info()` to print information about the `customer_data` DataFrame  Then, run the cell and take a moment to observe the output.

In [4]:
# Print the column names and their data types
print("\nColumn names and their data types:\n")

# insert code here 
print(customer_data.head)

Column names and their data types:

<bound method NDFrame.head of     customer_id first_name  last_name                            email gender  \
0          1001     Sophia      Smith         sophia.smith@example.com      M
1          1002     Joseph      Smith         joseph.smith@example.com      M
2          1003       John   Anderson        john.anderson@example.com      F
3          1004       Emma  Hernandez       emma.hernandez@example.com      M
4          1005      Emily     Garcia         emily.garcia@example.com      F
5          1006        Ava     Taylor           ava.taylor@example.com      F
6          1007       Jane   Martinez        jane.martinez@example.com      F
7          1008     Daniel    Jackson       daniel.jackson@example.com      F
8          1009      David      Davis          david.davis@example.com      F
9          1010      Emily  Rodriguez      emily.rodriguez@example.com      M
10         1011        Mia     Taylor           mia.taylor@example.com      F
11         1012    Michael   Martinez     michael.martinez@example.com      M
12         1013     Sophia     Thomas        sophia.thomas@example.com      F
13         1014       Emma   Martinez        emma.martinez@example.com      F
14         1015      James  Rodriguez      james.rodriguez@example.com      F
15         1016      Emily      Lopez          emily.lopez@example.com      M
16         1017     Joseph    Johnson       joseph.johnson@example.com      M
17         1018      David  Hernandez      david.hernandez@example.com      M
18         1019       Jane      Moore           jane.moore@example.com      M
19         1020    Abigail      Jones        abigail.jones@example.com      F
20         1021    Michael     Martin       michael.martin@example.com      F
21         1022     Sophia     Martin        sophia.martin@example.com      F
22         1023   Isabella      Brown       isabella.brown@example.com      M
23         1024  Charlotte  Rodriguez  charlotte.rodriguez@example.com      M
24         1025    Matthew     Taylor       matthew.taylor@example.com      M
25         1026       Jane  Hernandez       jane.hernandez@example.com      M
26         1027     Daniel   Martinez      daniel.martinez@example.com      M
27         1028        Mia      Smith            mia.smith@example.com      M
28         1029        Ava    Jackson          ava.jackson@example.com      M
29         1030     Daniel     Miller        daniel.miller@example.com      F
30         1031        Mia      Moore            mia.moore@example.com      F
31         1032     Olivia   Williams      olivia.williams@example.com      M
32         1033  Charlotte     Taylor     charlotte.taylor@example.com      M
33         1034        Ava      Moore            ava.moore@example.com      F
34         1035      David     Garcia         david.garcia@example.com      M
35         1036        Ava     Martin           ava.martin@example.com      F
36         1037     Daniel    Johnson       daniel.johnson@example.com      M
37         1038      Ethan    Johnson        ethan.johnson@example.com      F
38         1039        Mia      Davis            mia.davis@example.com      M
39         1040    Matthew     Garcia       matthew.garcia@example.com      F
40         1041        Mia      Davis            mia.davis@example.com      F
41         1042        Ava      Moore            ava.moore@example.com      M
42         1043    Michael    Jackson      michael.jackson@example.com      F
43         1044   Isabella      Lopez       isabella.lopez@example.com      M
44         1045      Emily   Williams       emily.williams@example.com      F
45         1046     Olivia     Miller        olivia.miller@example.com      M
46         1047    Abigail      Jones        abigail.jones@example.com      M
47         1048    Abigail   Williams     abigail.williams@example.com      M
48         1049       Emma      Jones           emma.jones@example.com      F
49         1050      David      Smith          david.smith@example.com      M

    age          city state country  purchase_count  total_spend  \
0    54   San Antonio    TX     USA               5          965
1    66   Los Angeles    CA     USA               7         1246
2    56       Phoenix    AZ     USA               1          199
3    44   Los Angeles    CA     USA              14         3752
4    25        Dallas    TX     USA              12         1620
5    69      San Jose    CA     USA              14         1792
6    63      New York    NY     USA               3          804
7    24       Phoenix    AZ     USA               8          864
8    59       Phoenix    AZ     USA              14         3304
9    31     San Diego    CA     USA               4          396
10   24       Houston    TX     USA              15         1020
11   54     San Diego    CA     USA               4         1196
12   29      New York    NY     USA              15         4440
13   45       Phoenix    AZ     USA              15         2190
14   53      San Jose    CA     USA              14         1498
15   64      San Jose    CA     USA              12         1152
16   63      San Jose    CA     USA               5          490
17   33        Dallas    TX     USA               3          405
18   43     San Diego    CA     USA              10         1710
19   19       Houston    TX     USA               1          262
20   38      New York    NY     USA               4          584
21   69       Houston    TX     USA               6          942
22   48  Philadelphia    PA     USA               2          380
23   43       Chicago    IL     USA               6         1716
24   51      New York    NY     USA               9         1746
25   55      San Jose    CA     USA               6         1350
26   43   Los Angeles    CA     USA              10         1830
27   38       Houston    TX     USA               8          872
28   51   Los Angeles    CA     USA               5          910
29   30     San Diego    CA     USA              15         1350
30   53       Phoenix    AZ     USA              12         2304
31   57      San Jose    CA     USA              11         1925
32   20     San Diego    CA     USA               2          562
33   28   Los Angeles    CA     USA               8         1904
34   64       Phoenix    AZ     USA               8         1416
35   47   Los Angeles    CA     USA               4          304
36   45     San Diego    CA     USA               6         1380
37   41       Phoenix    AZ     USA              10         1390
38   51      San Jose    CA     USA              12         2604
39   23  Philadelphia    PA     USA               7         1939
40   29       Houston    TX     USA              10          530
41   20     San Diego    CA     USA              15         3345
42   31     San Diego    CA     USA              13         3159
43   52      San Jose    CA     USA              10         2470
44   63   San Antonio    TX     USA              15         1920
45   30      San Jose    CA     USA               7          581
46   38        Dallas    TX     USA              11         2904
47   49       Phoenix    AZ     USA               4         1192
48   23       Chicago    IL     USA              10          780
49   24   Los Angeles    CA     USA               8         1000

    avg_order_value          last_purchase_date
0             193.0  2023-09-12 15:28:32.140488
1             178.0  2023-08-25 15:28:32.140488
2             199.0  2024-04-28 15:28:32.140488
3             268.0  2024-01-01 15:28:32.140488
4             135.0  2023-12-09 15:28:32.140488
5             128.0  2024-03-13 15:28:32.140488
6             268.0  2024-03-27 15:28:32.140488
7             108.0  2023-10-26 15:28:32.140488
8             236.0  2024-08-17 15:28:32.140488
9              99.0  2023-10-11 15:28:32.140488
10             68.0  2024-06-17 15:28:32.140488
11            299.0  2024-03-28 15:28:32.140488
12            296.0  2024-05-28 15:28:32.140488
13            146.0  2024-06-16 15:28:32.140488
14            107.0  2024-08-01 15:28:32.140488
15             96.0  2023-11-09 15:28:32.140488
16             98.0  2024-03-12 15:28:32.140488
17            135.0  2024-03-09 15:28:32.140488
18            171.0  2023-12-06 15:28:32.140488
19            262.0  2023-11-15 15:28:32.140488
20            146.0  2023-12-19 15:28:32.140488
21            157.0  2024-03-15 15:28:32.140488
22            190.0  2023-09-14 15:28:32.140488
23            286.0  2024-07-19 15:28:32.140488
24            194.0  2023-10-14 15:28:32.140488
25            225.0  2024-06-06 15:28:32.140488
26            183.0  2023-11-07 15:28:32.140488
27            109.0  2024-08-03 15:28:32.140488
28            182.0  2023-12-20 15:28:32.140488
29             90.0  2023-09-15 15:28:32.140488
30            192.0  2023-12-30 15:28:32.140488
31            175.0  2024-08-19 15:28:32.140488
32            281.0  2023-11-15 15:28:32.140488
33            238.0  2024-03-22 15:28:32.140488
34            177.0  2024-07-26 15:28:32.140488
35             76.0  2024-07-25 15:28:32.140488
36            230.0  2023-09-05 15:28:32.140488
37            139.0  2023-10-12 15:28:32.140488
38            217.0  2023-11-16 15:28:32.140488
39            277.0  2024-03-09 15:28:32.140488
40             53.0  2024-06-17 15:28:32.140488
41            223.0  2023-12-01 15:28:32.140488
42            243.0  2024-03-24 15:28:32.140488
43            247.0  2024-02-18 15:28:32.140488
44            128.0  2023-08-25 15:28:32.140488
45             83.0  2024-01-07 15:28:32.140488
46            264.0  2024-05-08 15:28:32.140488
47            298.0  2024-03-11 15:28:32.140488
48             78.0  2024-02-18 15:28:32.140488
49            125.0  2024-03-01 15:28:32.140488  >

Next, you'll use the `df.describe()` function, which generates descriptive statistics for the numerical columns in the DataFrame.

In the cell below, use `df.describe()` to display summary statistics for the numerical columns in the `customer_data` DataFrame.

In [5]:
# Display descriptive statistics for numerical columns
print("\nDescriptive statistics for numerical columns:\n")

# insert code here 
print(customer_data.describe())

Descriptive statistics for numerical columns:

       customer_id        age  purchase_count  total_spend  avg_order_value
count     50.00000  50.000000        50.00000    50.000000        50.000000
mean    1025.50000  43.440000         8.60000  1491.880000       179.920000
std       14.57738  14.833993         4.28095   968.697666        70.820221
min     1001.00000  19.000000         1.00000   199.000000        53.000000
25%     1013.25000  30.000000         5.00000   819.000000       125.750000
50%     1025.50000  44.500000         8.00000  1350.000000       180.000000
75%     1037.75000  54.000000        12.00000  1916.000000       237.500000
max     1050.00000  69.000000        15.00000  4440.000000       299.000000

Finally, in the code cell below, you'll use the `.mean()` and `.median()` functions on the `'age'` column of your `customer_data` to calculate the average and median age of all your customers. 

The square brackets [] are used for column selection in Pandas. Within the brackets, you specify the name of the column you want to extract, which in this case is 'age'

Run the cell to see the average and median age of your customers.

In [6]:
# Calculate the mean of the 'age' column
mean_age = customer_data['age'] # insert code here 

# Print the mean age
print("\nMean Age:", mean_age)

# Calculate the median of the 'age' column
median_age = customer_data['age'] # insert code here 

# Print the median age
print("\nMedian Age:", median_age)

Mean Age: 0     54
1     66
2     56
3     44
4     25
5     69
6     63
7     24
8     59
9     31
10    24
11    54
12    29
13    45
14    53
15    64
16    63
17    33
18    43
19    19
20    38
21    69
22    48
23    43
24    51
25    55
26    43
27    38
28    51
29    30
30    53
31    57
32    20
33    28
34    64
35    47
36    45
37    41
38    51
39    23
40    29
41    20
42    31
43    52
44    63
45    30
46    38
47    49
48    23
49    24
Name: age, dtype: int64

Median Age: 0     54
1     66
2     56
3     44
4     25
5     69
6     63
7     24
8     59
9     31
10    24
11    54
12    29
13    45
14    53
15    64
16    63
17    33
18    43
19    19
20    38
21    69
22    48
23    43
24    51
25    55
26    43
27    38
28    51
29    30
30    53
31    57
32    20
33    28
34    64
35    47
36    45
37    41
38    51
39    23
40    29
41    20
42    31
43    52
44    63
45    30
46    38
47    49
48    23
49    24
Name: age, dtype: int64

## Activity Recap: Charting the Customer Journey with Pandas

Congratulations! In this activity, you learned how to load a CSV file into a Pandas DataFrame and use various functions to inspect its structure and contents:

* `pd.read_csv()` is used to load CSV data into a DataFrame.
* `df.head()` shows the first few rows.
* `df.info()` provides a summary of the DataFrame's structure.
* `df.describe()` generates descriptive statistics for numerical columns.